doctype 5
html

    <%mod_load('顶部', 'globalConfig', 'top.jade')%>

    body
        <%mod_load('头部', 'header', 'default.jade')%>

        <%mod_load('测试模块1', 'm-layout', 'default.jade')%>

        <%mod_load('头部', 'footer', 'default.jade')%>


























