doctype 5
html

    <%mod_load('顶部', 'globalConfig', 'top.jade')%>

    body

        <%mod_load('头部', 'header', 'default.jade')%>

        <%mod_load('引入不存在的模块', 'm-notexist', 'notexist.jade')%>

        <%mod_load('测试模块2', 'm-test2', 'default.html')%>

        <%mod_load('头部', 'footer', 'default.jade')%>


























