<!DOCTYPE html>
<html lang="en">
  <head>
    <title>模板1</title>
    <meta charset="utf-8">
    <script type="text/javascript"></script>
  </head>
  <body>
<!--=========测试条件1 start========-->

<p style="color:red;">我是测试模块</p>
<!--=========测试条件1 end========-->
    <div id="container"></div>
    <div class="bar"></div>
    <div id="container2" class="bar"></div>
    <div id="container3" class="bar bar2"></div>
    <p>test</p>
    <p>
      test1 test2
      test3 test4
    </p>
    <div id="user"> &lt;&gt;</div>
    <p>#{转义}</p><script></script>
    <label>Username:123
      <input name="user[name]">
    </label>
    <label>Username:
      <input name="user[name]">
    </label>
    <!--一些段落1 会显示-->
    <p>
      foo asdf
      asdf
      asdfasdfaf
      asdf
      asd.
      
    </p>
    <ul>
      <li class="first"><a href="#">foo</a></li>
      <li><a href="#">bar</a></li>
      <li class="last"><a href="#">baz</a></li>
    </ul><a href="/login" title="View login page">Login</a>
    <input type="checkbox" checked="checked">
    <input type="checkbox" name="agreement" checked>
    <li>foo: bar</li>
    <li>2</li>
    <li>3</li>
    <li>4</li>
  </body>
</html>