head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
	link(rel="shortcut icon" type="image/x-icon" href="http://ouyangtao.com/wp-content/themes/cornfield/images/ou.ico")
	link(rel="stylesheet" href="../publish/combineCss.css")
	script(src="../publish/jquery/jquery.js" charset="utf-8")
	script(src="../publish/combineJs.js" charset="utf-8")
	title 开发框架